@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: #f9c6e1;
  font-family: 'Open Sans', sans-serif;
  color: #25292e;
  font-size: 17px;
  line-height: normal;
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
h1{
  color: #f766e3;
  font-size: 40px;
  line-height: normal;
}
h2{
  color: #66c7f7;
  font-size: 25px;
  line-height: normal;
}
h3{
  font-size: 20px;
  line-height: normal;
}
a:hover {
  color:#66e4f7;
}
a {
  color: rgb(252, 66, 209);
  text-decoration: underline;
}
.card {
  background-color: white;
  border-color: black;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(237, 179, 219, 0.1);
  border-radius: 4px;
  margin: 19px 0px;
  text-align: center;
}
.card-grey {
  background-color: grey;
  border-color: black;
  padding: 5px;
  box-shadow: 0px 10px 10px rgba(237, 179, 219, 0.1);
  border-radius: 4px;
  margin: 10px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
}
ul > li {
  display: inline-block;
  list-style-type: none;
  font-size: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.fa-brands, .fab {
  font-weight: 599;
}
